<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
          <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attribute">Attributes</a>
        <a class="item" data-tab="fight">Fight</a>
        <a class="item" data-tab="cargo">Cargo</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Carac Tab --}}
        <div class="tab items" data-group="primary" data-tab="attribute">
          <span><a class="lock-unlock-sheet"><img class="small-button-container" 
            src="systems/fvtt-fragged-empire/images/icons/{{#if editScore}}unlocked.svg{{else}}locked.svg{{/if}}" alt="Unlocked/Locked"
            >{{#if editScore}}Unlocked{{else}}Locked{{/if}}</a>
          </span>
          <div class="grid grid-2col">
            <div class="">
              
              <span class="generic-label"><h3>Attributes</h3></span>
              <ul>
                {{#each data.attributes as |attr key|}}
                <li class="item flexrow list-item" data-attr-key="{{key}}" data-item-id="{{attr.traitId}}">
                  <span class="stat-label flexrow tooltip tooltip-nobottom" name="{{key}}"><a class="carac-roll">{{attr.label}}</a></span>
                  <select class="carac-base flexrow" type="text" name="data.attributes.{{key}}.current" value="{{attr.current}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}>
                    {{#select attr.current}}
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    {{/select}}
                  </select> 
                  &nbsp;/&nbsp;
                  <select class="carac-base flexrow" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}>
                    {{#select attr.value}}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    {{/select}}
                  </select> 
                  <div class="item-controls">
                    {{#if (ne attr.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
                {{/each}}
              </ul>  
            </div>

            <div class="">        
              <span class="generic-label"><h3>Size : </h3>
              <input type="text" name="data.size.value" value="{{data.size.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
              </span>

              <span class="generic-label"><h3>Build : </h3>
                <input type="text" name="data.build" value="{{data.build}}" data-dtype="String" {{#unless @root.editScore}}disabled{{/unless}}/>
              </span>

              <span class="generic-label"><h3>Influence : </h3>
                <input type="text" name="data.influence" value="{{data.influence}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
              </span>

              <span class="generic-label"><h3>Other Stats</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left">
                  <span class="stat-label" name="{{key}}">Name</span>
                  <span class="stat-label" name="{{key}}">Bonus</span>
                  <span class="stat-label" name="{{key}}">Total</span>
                  <span class="stat-label" name="{{key}}">Current</span>
                </li>
                </li>
                  {{#each data.stats as |stat key|}}
                  <li class="item flexrow list-item stack-left" data-attr-key="{{key}}" data-item-id="{{stat.traitId}}">
                    <span class="stat-label " name="{{key}}">{{stat.label}}</span>
                    {{#if stat.bonus}}
                    <input type="text" class="input-numeric-short padd-right" name="data.stats.{{key}}.bonus" value="{{stat.bonus}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
                    {{/if}}
                    {{#if stat.max}}
                    <span class="stat-label padd-left" name="{{key}}"> {{stat.max}}</span>
                    {{/if}}
                    <input type="text" class="input-numeric-short padd-right" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
                  </li>
                  {{/each}}
                </ul>    
            </div>

          </div>
        </div>
        

      {{!-- Combat Tab --}}
      <div class="tab fight" data-group="primary" data-tab="fight">
        <div class="flexcol">

          <div class="">     
            {{#each data.fight as |fight key|}}   
            <div class="flexrow stack-left">     
              <span class="stat-label packed-left padd-right"><strong>{{fight.label}}</strong></span>
              {{#if fight.valueonly}}
              <input type="text" class="input-numeric-short padd-right"  name="data.fight.{{key}}.value" value="{{fight.value}}" data-dtype="Number"/>
              {{else}}
              <span class="stat-label padd-right padd-left packed-left">Base : {{fight.base}}</span>
              <span class="stat-label padd-left padd-right packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short padd-right"  name="data.fight.{{key}}.bonus" value="{{fight.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left padd-right packed-left">Total : {{fight.total}}</span>
              {{/if}}
            </div>         
            <ul>
              {{#each fight.derivated as |derivated keydev|}}   
              <li class="item flexrow list-item stack-left">
                <span class="stat-label padd-left padd-right packed-left">{{derivated.label}}</span>
                {{#if derivated.valueonly}}
                <input type="text" class="input-numeric-short padd-right"  name="data.fight.{{key}}.derivated.{{keydev}}.value" value="{{derivated.value}}" data-dtype="Number"/>
                {{else}}
                <span class="stat-label padd-left padd-right packed-left">Bonus :</span>
                <input type="text" class="input-numeric-short padd-right"  name="data.fight.{{key}}.derivated.{{keydev}}.bonus" value="{{derivated.bonus}}" data-dtype="Number"/>
                <span class="stat-label padd-left padd-right packed-left">Total : {{derivated.total}}</span>
                {{/if}}
              </li>
              {{/each}}
            </ul>    
            <hr>
            {{/each}}            
          </div>

          <span class="generic-label"><h3>Weapons</h3></span>
          <ul class="stat-list alternate-list">
            {{#each weapons as |weapon key|}}
            <li class="item stat flexrow list-item" data-arme-id="{{arme.id}}" data-item-id="{{weapon.id}}">
              <img class="sheet-competence-img" src="{{weapon.img}}"/>
              <span class="stat-label spacecraft-weapon-label flexrow"><a name="{{weapon.name}}">{{weapon.name}}</a></span>
              <div class="item-controls">
                <a class="item-control item-equip" title="Worn">{{#if weapon.data.data.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            <li>
              {{> "systems/fvtt-fragged-empire/templates/weapon-stats-section.html" stats=weapon.data.data.statstotal isfinal=false header=true}}
            </li>
            {{/each}}                
          </ul>          

        </div>
      </div>

      {{!-- Cargo Tab --}}
      <div class="tab cargo" data-group="primary" data-tab="cargo">
        <div><h4>Trade goods</h4></div>
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item">
              <span class="equipement-label">Name</span>
              <span class="equipement-label">Tradebox</span>
              <span class="equipement-label">Cargo Space</span>
              <div class="item-controls">
                <span class="equipement-label">&nbsp;</span>
                <span class="equipement-label">&nbsp;</span>
              </div>
            </li>
            {{#each tradeGoods as |good key|}}
            <li class="item flexrow list-item" data-item-id="{{good.id}}">
              <img class="sheet-competence-img" src="{{good.img}}"/>
              <span class="equipement-label">{{good.name}}</span>
              <span class="equipement-label">{{good.data.data.tradebox}}</span>
              <span class="equipement-label">{{good.cargoSpace}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
          {{/each}}
          </ul>
      </div>

      {{!-- Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
        <div class="flexcol">

          <span class="generic-label"><h3>Spacecraft Perks</h3></span>
          <ul>
            {{#each perks as |perk key|}}
            <li class="item flexrow list-item" data-item-id="{{perk.id}}">
              <img class="sheet-competence-img" src="{{perk.img}}"/>
              <span class="competence-label">{{perk.name}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

          <span class="generic-label"><h3>Spacecraft Traits List</h3></span>
          <ul>
            {{#each traits as |trait key|}}
            <li class="item flexrow list-item" data-item-id="{{trait.id}}">
              <img class="sheet-competence-img" src="{{trait.img}}"/>
              <span class="competence-label">{{trait.name}}</span>
              <span class="competence-label">{{trait.data.data.type}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul> 

          <span class="generic-label"><h3>Strong Hits</h3></span>
          <ul>
            {{#each strongHits as |stronghit key|}}
            <li class="item flexrow list-item" data-item-id="{{stronghit.id}}">
              <img class="sheet-competence-img" src="{{stronghit.img}}"/>
              <span class="competence-label">{{stronghit.name}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

        </div>
      </div>

      {{!-- Notes Tab --}}
      <div class="tab notes" data-group="primary" data-tab="notes">        
        <article class="flexcol">
          <h3>Description : </h3>
          <div class="form-group editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>
          <hr>
          <h3>Notes : </h3>
          <div class="form-group editor">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
          </div>
          <hr>
          {{>"systems/fvtt-fragged-empire/templates/editor-notes-gm.html"}}
        </article>
      </div>

    </section>
</form>

